VITE_SUPABASE_URL=https://ylodmopafxauvwurfweh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInN1YiI6Inlsb2Rtb3BhZnhhdXZ3dXJmd2VoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTI2Inlsb2Rtb3BhZnhhdXZ3dXJmd2VoIn0
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInN1YiI6Inlsb2Rtb3BhZnhhdXZ3dXJmd2VoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTI2Inlsb2Rtb3BhZnhhdXZ3dXJmd2VoIn0